<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input label="Emisor" [(ngModel)]="mensaje.emisor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Mensaje" [(ngModel)]="mensaje.mensaje"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="enviar()">Enviar</ion-button>
      </ion-item>
      @for (mensaje of firebaseService.mensajes; track $index) {
      <ion-item>
        <div class="mensaje">
          <p class="emisor">{{mensaje.child('mensaje').child('emisor').val()}}</p>
          <p>{{mensaje.child('mensaje').child('mensaje').val()}}</p>
        </div>
      </ion-item>
      }
    </ion-list>
  </div>
</ion-content>